body {
  background-color: #c9b5ab;
  line-height: 1.5;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
}

h2{
  color:#3f1622;
  font-family: 'PT Sans', sans-serif;
}

nav {
  font-family: 'PT Sans', sans-serif;
}

a {
  color: #8f2440;
}

a:hover {
  color: #3f1622;
}
